.custom-input-filter {
    color: #000000;
    text-align: center;
    padding: 5px;
    outline: none;

    width: 70%;


    font-size: var(--front_size_smaller_2);

    /*margin-top: 1%;*/
    margin-bottom: 3%;

    border-radius: min(0.5vw, 1vh);
}

.listOptionFilter{
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/

    flex-direction: column;

    width: 100%;
    height: 40%;
    overflow-y: scroll;

    border-bottom: solid white 2px;
}

.listOptionFilterSmall{
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/

    flex-direction: column;

    width: 100%;
    /*height: 40%;*/
    /*overflow-y: scroll;*/

    border-bottom: solid white 2px;
}

.optionFilter{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    width: 100%;
    height: 40%;
}
