.PageGlobalBlue {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    width: 100vw;
    height: 100vh;

    color: white;
    background-color: var(--bleu_theme);

    font-size: var(--front_size_big_2);
}

.PNF{
    color: white;

    font-size: var(--front_size_big_3);
}

.Link{
    color: white;

    font-size: var(--front_size_big_2);
    text-decoration: underline;
}
